<%- include('./partials/header') %> 
<%- include('./partials/nav') %> 
<div class="container bg-dark" id="main-all-tweets">


    <% docs.reverse().forEach(tweet => { %> 
        <div class="card tweet">
            <div class="card-body">
            <h5 class="mt-0"><%= tweet.user %></h5>
            <%= tweet.text %> 
            </div>
        </div>
    <% }); %> 

</div>

<%- include('./partials/footer') %> 